/* HEADER */

@media (max-width: 599px) {
	header {
		position: relative;
	}

	.header-info-container {
		width: 90%;
		margin: 0 auto;
	}
	.triangle {
		display: none;
	}
	header nav {
		display: none;
		position: absolute;
		top: 0px;
		background-color: var(--dark-blue);
		width: 100%;
	}
	.nav-container {
		background: none;
		position: relative;
	}

	nav li {
		display: block;
		list-style-type: none;
		margin-right: 20px;
		margin-left: 20px;
		font-size: 20px;
	}

	.menu-icon {
		display: block;
		color: white;
		font-size: 23px;
		position: absolute;
	}
	header nav li {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.header-right {
		display: none;
	}
	.header-text {
		width: 90%;
		margin: 0 auto;
		font-size: 15px;
		padding: 0px;
		top: 350px;
	}
}
/* HEADER BETWEEN pod 1000px */

@media (max-width: 1100px) {
	.header-between {
		display: none;
	}
	.section-about-us {
		padding-top: 70px;
	}
}

/* MONTHLY PROMO */
@media (max-width: 1100px) {
	.monthly-promo {
		padding-top: 70px;
	}
}
@media (max-width: 800px) {
	.monthly-promo-images {
		display: none;
	}

	.monthly-content {
		flex-basis: 100%;
	}
}

/* ABOUT-US */

@media (max-width: 599px) {
	.icon-container {
		display: flex;
		flex-direction: column;
	}
	.icon-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.icon-text {
		padding-bottom: 25px;
		padding-top: 10px;
	}
	.about-us-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

/* PROMO SECTION  */

@media (max-width: 599px) {
	.promo-wrapper {
		margin: 0 auto;
		width: 90%;
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.promo-card {
		height: 100px;
		width: 250px;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 8px;
		position: relative;
	}
}
/* PROMOSECTION SERVICES-HTML */

@media (max-width: 720px) {
	.section-services {
		width: 90%;
		margin: 0 auto;
	}
	#car-service.service-wrapper,
	#tire-service.service-wrapper,
	#car-electricity-service.service-wrapper,
	#air-conditioner-service.service-wrapper,
	#technical-control-service.service-wrapper,
	#spare-parts.service-wrapper,
	#clean-car.service-wrapper,
	#wrecked-vehicle.service-wrapper,
	#welding.service-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;
		gap: 10px;
	}
	#car-electricity-service .service-photo {
		background-position: 50% 25%;
	}

	#technical-control-service .service-photo {
		background-position: 50% 0%;
	}
	#welding .service-photo {
		background-position: 50% 70%;
	}
	.service-header {
		justify-content: center;
	}
	.service-content {
		text-align: center;
	}

	#car-service .service-photo,
	#tire-service .service-photo,
	#car-electricity-service .service-photo,
	#air-conditioner-service .service-photo,
	#technical-control-service .service-photo,
	#spare-parts .service-photo,
	#clean-car .service-photo,
	#wrecked-vehicle .service-photo,
	#welding .service-photo {
		height: 150px;
		flex-basis: 100%;
	}
}

/* CONTACT SECTION */

@media (max-width: 599px) {
	.contact-wrapper {
		margin: 0 auto;
		width: 90%;
	}

	.contact-text {
		flex-basis: 100%;
		align-items: center;
	}
	.contact-logo-wrapper {
		justify-content: center;
	}
}
/*  MAP */
@media (max-width: 759px) {
	.contact-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.contact-text {
		align-items: center;
	}
}

/* SECTION THREE - PRICE LIST */

@media (max-width: 599px) {
	.table-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}
/* FOOTER */

@media (max-width: 900px) {
	.footer-container {
		flex-direction: column;
	}
}
/* TOP CIRCLE */

@media (max-width: 400px) {
	.top-circle {
		bottom: 20px;
		right: 60px;
	}
}
/*600px ---------------------------------*/

@media (min-width: 600px) {
	header nav {
		display: block !important;
	}
	.header-container {
		width: 70%;
		margin: 0 auto;
		border-radius: 0 0 10px 10px;
	}
	nav li {
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* 600 - 700 */

@media (max-width: 700px) {
	nav li {
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media (max-width: 800px) {
	.header-right {
		display: none;
	}
}
